beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.5.0
diff-match-patch==20181111
Django==2.0.8
django-cors-headers==2.4.0
django-countries-plus==1.2.1
django-filter==2.1.0
django-import-export==1.2.0
django-instant-coverage==1.1.0
django-languages-plus==1.0.0
django-markupfield==1.5.1
django-nose==1.4.6
django-post-office==3.1.0
django-user-agents==0.3.2
djangorestframework==3.9.1
djangorestframework-csv==2.1.0
djangorestframework-yaml==1.0.3
docutils==0.14
environ==1.0
et-xmlfile==1.0.1
html5lib==1.0.1
idna==2.8
itypes==1.1.0
jdcal==1.4
Jinja2==2.10
jsonfield==2.0.2
Markdown==3.0.1
MarkupSafe==1.1.0
mock==2.0.0
nose==1.3.7
odfpy==1.4.0
openpyxl==2.6.0
pbr==5.1.2
pendulum==2.0.4
psycopg2-binary==2.7.7
python-dateutil==2.8.0
pytz==2018.9
pytzdata==2018.9
PyYAML==3.13
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
tablib==0.12.1
ua-parser==0.8.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.1
user-agents==1.1.0
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0
